{% extends 'base.html.twig' %}

{% block body %}
    <h1>Random People</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.getName() }}</td>
                <td>{{ person.getSurname() }}</td>
                <td>{{ person.getAge() }}</td>
                <td>{{ person.getEmail() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}